<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Categorias
      </h1>
      <h2 class="subtitle">
        Opçoes para descobrir coisas novas
      </h2>
    </div>
  </div>
</section>

<div class="fazLinha">

  <app-cards-content title="Apostilas" content="Veja e baixe suas apostilas " link="/apostilas"></app-cards-content>
  <app-cards-content title="Presenças e Faltas" content="Acompanhe suas faltas e relecione com as presenças "
    link="/faltas"></app-cards-content>
  <app-cards-content title="Andamento do curso" content="veja o que já fez e o que falta fazer no seu curso"
    link="/acompanhamento"></app-cards-content>
  <app-cards-content title="Calendario Pedagogico" content="Eventos e projetos para vc acomanhar aqui"
    link="/calendario"></app-cards-content>
  <app-cards-content title="Avisos" content="se precisarmos falar com vc esta opção lhe trará notificações"
    link="/apostilas"></app-cards-content>
  <app-cards-content title="Solicitações e Requerimentos" content="se você precisa falar conosco, use está categoria"
    link="/apostilas"></app-cards-content>
  <app-cards-content title="Financeiro" content="acompanhe se suas mensalidade estão em dia" link="/financeiro">
  </app-cards-content>
</div>
