.carda
  border-radius: 7px

@media screen and ( max-width: 500px )
  .carda
    width: 97vw
    margin: 15px 10px

@media screen and ( min-width: 500px )
  .carda
    width: 400px
    margin: 25px 19px
  .carda-content
    height: 120px

mat-card-actions
  text-align: center
